USE [master]
GO
/****** Object:  Database [Ahorcado]    Script Date: 18/11/2023 14:28:58 ******/
CREATE DATABASE [Ahorcado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ahorcado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ahorcado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ahorcado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ahorcado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ahorcado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ahorcado]
GO
/****** Object:  Table [dbo].[Palabras]    Script Date: 18/11/2023 14:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabras](
	[Id] [int] NULL,
	[Palabra] [nvarchar](50) NULL,
	[NumeroLetras] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Palabras] ([Id], [Palabra], [NumeroLetras]) VALUES (1, N'zapallo', 7)
INSERT [dbo].[Palabras] ([Id], [Palabra], [NumeroLetras]) VALUES (2, N'mariposa', 8)
INSERT [dbo].[Palabras] ([Id], [Palabra], [NumeroLetras]) VALUES (3, N'lechuga', 7)
GO
USE [master]
GO
